
<div class="container-fluied mt-1">
  <div class="row mt-1">
    <div class="col-sm">

      <div id="table-wrapper">
        <div id="table-scroll">
          <table class="table table-hover text-center table-striped table-light">
            <thead class="bg-info text-white">
              <tr>
                <th>SNO</th>
                <th>COUNTRY</th>
                <th>DECEASED</th>
                <th>RECOVERED</th>
                <th>ACTIVE</th>
                <th>CONFIRMED</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let covidWor of covidWorld; let i = index">
                <td>{{i + 1}}</td>
                <td>{{covidWor.country}}</td>
                <td>{{covidWor.deceased}}</td>
                <td>{{covidWor.recovered}}</td>
                <td>{{covidWor.infected-covidWor.deceased-covidWor.recovered}}</td>
                <td>{{covidWor.infected}}</td>
              </tr>
              <tr *ngIf="errorMessage">
                <td colspan="12" class="text-danger">
                {{errorMessage}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>



































