<!-- <div class="container-flueid">
  <div class="row">
    <div class="col-sm">

    </div>
  </div>
</div> -->

<!-- navabar -->

<nav class="navbar  navbar-dark  bg-success  navbar-expand-lg sticky-top">
  <!-- brand name of comapny -->
  <div>
    <a href="#" class="badge badge-danger">COVID-19</a>
  </div>
  <!-- component navigation  -->
  <button class="navbar-toggler" data-toggle="collapse" data-target="#simpleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-left" id="simpleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item px-2 active h5">
        <a routerLink="home" class="nav-link"><i class="fab fa-galactic-republic mr-1"></i>Home</a>
      </li>
      <li class="nav-item px-2 h5">
        <a routerLink="india" class="nav-link"><i class="fa fa-flag mr-1"></i>INDIA</a>
      </li>
      <li class="nav-item px-2 h5">
        <a routerLink="world" class="nav-link"><i class="fa fa-globe mr-1"></i>WORLD</a>
      </li>
    </ul>

    <!-- serch/formbar on the navabar  -->
    <!-- <form class="form-inline ml-auto">
      <div class="form-group">
        <input type="search" class="form-control" placeholder="Search Here..."/>
      </div>
      <div>
        <input type="submit" value="search" class="btn btn-outline-white btn-sm"/>
      </div>
    </form> -->
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item avatar">
        <a class="nav-link p-0" href="#">
          <strong class="h2 px-2">{{name}}</strong>
          <img [src]="photoURL" class="rounded-circle z-depth-0"
            alt="avatar image" height="50">
        </a>
      </li>
    </ul>

  </div>
</nav>

<!-- <app-covid-home></app-covid-home> -->

<router-outlet></router-outlet>
