<div class="container-fluid bg-covid">
  <div class="row">
    <div class="col-sm">

      <div class="history text-white">
        <h2>History of Covid-19</h2>
        <h4 style="color:yellow">Coronavirus disease 2019(COVID-19) is a respiratory illness caused by a new form of coronavirus, SARS-CoV-2, and was first identified in Wuhan, China. Presently, this virus has spread to over 200 countries and territories, resulting in more than ten million infected cases and at least 500,000 deaths.The number of confirmed cases in China, approximately 84,000, saw a gradual decline in March. Conversely, the rest of the world still grapples with the extraordinary impacts of the disease and braces for the worst.</h4>
      </div>

      <div class="testing text-white">
        <h2>Covid-19 Test</h2>
        <h4>Two kinds of tests are available for COVID-19: viral tests and antibody tests.
          <ul>
            <li>A <a href="https://www.cdc.gov/coronavirus/2019-ncov/testing/diagnostic-testing.html" target="_blank" style="color:yellow">viral test</a> tells you if you have a current infection.</li>
            <li>An <a href="https://www.cdc.gov/coronavirus/2019-ncov/testing/diagnostic-testing.html" target="_blank" style="color:yellow">antibody test</a> might tell you if you had a past infection.</li>
          </ul>
          </h4>
      </div>

      <div class="symptoms text-white">
        <h2>Covid-19 Symptoms</h2>
        <div class="row">

          <div class="col-sm-4">
            <div class="form">
              <div class="header bg-dark px-2">
                <h3>Most common symptoms:</h3>
              </div>
              <div class="body bg-secondary">
                <ul>
                  <li>fever</li>
                  <li>dry cough</li>
                  <li>tiredness</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form">
              <div class="header bg-dark px-2">
                <h3>Less common symptoms:</h3>
              </div>
              <div class="body bg-secondary">
                <ul>
                  <li>sore throat & headache</li>
                  <li>loss of taste or smell</li>
                  <li>a rash on skin</li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-sm-4">
            <div class="form">
              <div class="header bg-dark px-2">
                <h3>Serious symptoms:</h3>
              </div>
              <div class="body bg-secondary">
                <ul>
                  <li>difficulty breathing or shortness of breath.</li>
                  <li>chest pain or pressure.</li>
                  <li>loss of speech or movement.</li>
                </ul>
              </div>
            </div>
          </div>

        </div>
      </div>


        <div class="precautions text-white">
          <div class="row">
            <div class="col-sm">
              <h2> Covid-19 Precautions</h2>
              <h4>The best way to protect yourself from COVID-19 is to practice good hygiene and to make these CDC recommendations,follow these steps</h4>
              <h4>
              <ul>
                <li><span class="heighlet">Wash your hands</span>Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom; before eating; and after blowing your nose, coughing, or sneezing.</li>
                <li><span class="heighlet">Avoid touching</span>Avoid touching your eyes, nose, and mouth with unwashed hands.</li>
                <li><span class="heighlet">Avoid close contact</span> with people who are sick.</li>
                <li><span class="heighlet">Cover your cough or sneeze</span> with a tissue, then throw the tissue in the trash and wash your hands. If you don’t have a tissue, cough or sneeze into your elbow, rather than into your hands.</li>
              </ul>
              </h4>
            </div>
          </div>
        </div>

    </div>
  </div>
</div>
